#calendar .fc-today{
    background: #ededed;
}

#calendar .fc-day:hover{
    transition: all 0.4s;
    background: #f8f8f8;
}

div.dropdown-menu{
    position: absolute;
    top: 35.033px;
    left: 245.3px;
    z-index: 101;
    display: block;

}
.fc-sat, .fc-sun {
    background-color: #ffe8e6 !important;
    position: relative !important;
    z-index: 1 !important;
}
.fc-day-number{
    color: #333 !important;
}

th > a {
    color: #333;
}
.fc-cell-content > a {
    color: #333;
}

.fc-event-container > .fc-day-grid-event{
    position: relative !important;
    z-index: 10 !important;
}



